@font-face {
  font-family: 'MTSans-BoldCondensed';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/MTSans-BoldCondensed.woff2) format('woff2');
}

@font-face {
  font-family: 'MTSans-RegularCondensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MTSans-RegularCondensed.woff2) format('woff2');
}