@font-face {
  font-family: 'mtsans-bold';
  font-style: normal;
  font-weight: 800;
  src: url('mtsans-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'mtsans-regular';
  font-style: normal;
  font-weight: 400;
  src: url('mtsans-regular.woff2') format('woff2');
}